<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>Mi Perfil</h2>
<div >
    <button >Mi Cuenta</button>
    <button >Mis Boletos</button>
</div>

<div >
    <h3>Bienvenido [Nombre de usuario]</h3>
    <p>Número: [Número]</p>
    <p>Email: [Email]</p>
    <button >Cerrar Sesión</button>
</div>

<div >
    <table>
        <thead>
        <tr>
            <th>Película</th>
            <th>Fecha</th>
            <th>Acciones</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>[Nombre de la película]</td>
            <td>[Fecha]</td>
            <td>
                <button >Ver Boletos Comprados</button>
            </td>
        </tr>

        </tbody>
    </table>
</div>
</body>
</html>